#main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 70%;
  transform: translate(-50%, -50%);
}
#main {
  background: rgb(0, 114, 180);
  background: linear-gradient(
    29deg,
    rgba(0, 114, 180, 1) 34%,
    rgba(192, 220, 242, 1) 100%
  );
  min-height: 95vh !important;
  height: 100% !important;
  overflow: hidden !important;
}
#col-two {
  background: linear-gradient(0deg, rgba(0, 52, 180, 0) 0%, #a6ceea 100%),
    url(https://marketplace.canva.com/EAFCzviUlZo/1/0/900w/canva-blue-and-yellow-illustrated-phone-wallpaper-qx1CXTdCU2k.jpg);
  background-position: bottom;
  height: 100%;
}
